OPENAI_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_TRACING=
LANGSMITH_PROJECT=

TAVILY_API_KEY=

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=JTlYtJrcTzPC71hMLOxo
ELEVENLABS_MODEL_ID=eleven_multilingual_v2

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=